.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  position: sticky;
  border: 2px solid forestgreen;
  width: 200px;
  height: 200px;
}

th {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
}

tr {
  text-align: center;
}

thead {
  text-align: center;
}
